<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




<body>
<div class = "container-fluid">
	<div class = "row" >
		<div class = "pagehead" style="z-index:1; position: fixed ;width: 100% ;background-color: #f1f1f1; margin-top:0px">
			<div class = "col-lg-3 ">
				<img src="/coursera.png" alt="rss feed" width=200px />
			</div>

			<% if user_signed_in?%>
				<div class = "col-lg-2 col-lg-offset-7" >
					<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
					<%= link_to('My Courses',{ controller: "course", action: "user_courses" })%>
				</div>
			<%end%>
			
			<div class="col-lg-1 col-lg-offset-7">
				<div class="dropdown">
				<% if teacher_signed_in?%>
  				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
  				<span class="caret"></span></button>
  					<ul class="dropdown-menu">
  						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
   						<li><%= link_to('Add Course',{ controller: "teacher_add_course", action: "addcourse_get" })%> </li>
    					<li><%= link_to('View Course',{controller: "teacher_add_course", action: "displaycourse" })%></li>
    					<li><%= link_to('My Students',{controller: "teacher_add_course", action: "enrolledstudents" })%></li>
  					</ul>
				<%end%>
				</div>	



			</div>	

			<div class="col-lg-1 col-lg-offset-8 ">
				<% if (!user_signed_in? && !teacher_signed_in?) %>
				<%= link_to('login',new_user_session_path) %>   
			<%end%>
			</div>
			<br>
			<br>
			<br>
		</div>
		


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% @all_courses.each do |course| %>
<div class = "col-lg-4 col-md-4" style=" position: relative;">
<div style="border: solid; border-color: #fcfcfc;">
<h4><%= course.id %>  <%= course.title %></h4>
<a href= "<%= course.homepage %>" >homepage </a>
<form id = "form-name" action = "/course/single_course" method="GET">
<input type="hidden" name="id" value = "<%= course.id%>">
<!--<img src="<%= course.image %>" width = "300 px" height="170px" onclick="document.forms['form-name'].submit();" onmouseover="cursor: hand (a pointing hand)" style= "cursor: pointer;" alt="no picture">-->
<button type = "submit" style="background-color: white; border: none;" ><img src="<%= course.image %>" height = "200 px" width = "300 px" ></button>
<br>
<br>
<br>
<br>


</form>
</div>
</div>

</body>
<!--
<body>
<%= course.summary %>
</body>
-->

<%end%>
</div>
</div>